.dashboard {
  margin-top: 50px;
}

.loginTitle{
  color: tomato;
  font-weight: bolder;
  font-size: 26px;
}

.register-section {
  background: radial-gradient(ellipse at bottom, #2c3d52 0%, #181c25 100%);
  max-width: 800px;
}

.register-section label { 
  color: white;
}

.login-section {
  background: radial-gradient(ellipse at bottom, #2c3d52 0%, #181c25 100%);
}

.login-section label { 
  color: white;
}

label {
  font-size: 18px!important;
  margin-top: 10px;
  margin-bottom: 0px;
  display: block;
  text-align: center;
}

#username {
  display: block;
}

.username-field, .password-field {
  display: block;
}

.register-text {
  font-family: 'IBM Plex Sans';
  /* font-family: 'Courgette'; */
  font-size: 17px;
  background-color: #fcfcfd;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 10px;;
  padding-top: 10px;
}

.register-link {
  font-family: 'Courgette';
  /* font-family: 'IBM Plex Sans'; */
  text-decoration: underline;
  color: #2c3d52;
  margin-left: 5px;
}

.demo-credentials {
  margin-top: 20px;
  color: #fff;
}

.demo-credentials p {
  font-size: 14px;
}

.demo-credentials span {
  font-size: 16px;
  font-family: 'Courgette';
  font-weight: normal;
}

.title {
  color: white;
}

.to-top {
  font-size: 16px;
  color: tomato;
  padding-bottom: 20px;
  background-color: white;
}

#selectedFile {
  opacity: 0;
}

.no-expenses {
  color: white;
  margin-bottom: 30px;
  margin-top: 20px;
}

.no-rentals {
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
}

.search {
  margin: 10px auto;
  max-width: 800px;
}

#search-legend {
  color: white;
  font-family: 'Courgette';
  font-size: 28px;
}

.search input {
  margin-top: 5px;
}

#search-button {
  margin-top: 30px;
  margin-bottom: 20px;
}

.or-tag {
  color: white;
  font-family: 'Courgette';
  margin: 10px auto;
}

.property-details {
  margin-top: 0;
}

.property-details fieldset {
  margin-top: 0px;
  font-size: 10px;
}

.property-details legend {
  font-size: 28px;
  font-family: 'Courgette';
}

.property-details label {
  color: white;
}

.property-details .delete-expense {
  color: black;
  font-size: 19px;
  text-align: left;
}

.property-details .delete-rental {
  color: black;
  font-size: 20px;
  text-align: center;
}

.home {
  margin-top: 60px;
}

button[type="submit"]:disabled {
  background-color: gray;
}

.outermost-section {
  max-width: 800px;
}

@media only screen and (min-width: 480px) {
  .home {
    margin-top: 90px;
  }
}

@media only screen and  (min-width: 768px) {
  .loginTitle, .title {
    font-size: 40px;
  }
  p {
    font-size: 22px;
  }
  #search-legend {
    font-size: 26px;
  }
}

