.loginTitle{
  color: tomato;
  font-weight: bolder;
  padding-bottom: 0;
  padding-top: 40px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 0;
  font-size: 25px;
  padding-bottom: 0;
  padding-top: 0;
}

.login-section {
  background: radial-gradient(ellipse at bottom, #2c3d52 0%, #181c25 100%);
  margin-top: -1px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.login-section label { 
  color: white;
}

label {
  font-size: 20px!important;
  margin-top: 10px;
  margin-bottom: 0px;
  display: block;
  text-align: center;
}

form {
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 30px;
  color: #fff;
  font-size: 17px;
  margin-top: -1px;
}

#username {
  display: block;
}

.username-field, .password-field {
  display: block;
}

.register-text {
  font-size: 17px;
  background-color: #fcfcfd;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 3%;
  padding-top: 3%;
}

.register-link {
  color: #2c3d52;
}

.demo-credentials {
  margin-top: 20px;
  color: #fff;
}

.demo-credentials p {
  font-size: 14px;
}

.demo-credentials span {
  font-size: 14px;
  font-style: italic;
}

.title {
  background: radial-gradient(ellipse at bottom, #2c3d52 0%, #181c25 100%);
  color: white;
  margin-top: 50px;
}

.to-top {
  font-size: 16px;
  color: tomato;
  padding-bottom: 20px;
}

#selectedFile {
  opacity: 0;
}

#search-legend {
  font-weight: bolder;
  font-family: 'Courgette', cursive;
}

.property-details .delete-expense {
  color: black;
  font-size: 19px;
  text-align: left;
}

.property-details .delete-rental {
  color: black;
  font-size: 20px;
  text-align: center;
}

@media (min-width: 1000px) {
  .loginTitle, .title {
      font-size: 40px;
  }
  p {
      font-size: 22px;
  }
  #search-legend {
    font-size: 26px;
  }
}

@media (min-width: 496px) {
  .title {
    margin-top: 90px;
  }
}