.dashboard {
  width: 60%;
  margin: 50px auto ;
  margin-top: 100px;
}

.search-section {
  min-height: 100px;
  padding: 10px;
  border: 5px solid tomato;
  border-radius: 10px;
}

.search-form {
  width: 80%;
  float: left;
  overflow: hidden;
  margin-left: 0px;
}

.add-expense {
  float: right;
  overflow: hidden;
  height: 30px;
  width: 15%;
  background-color: tomato;
  margin-right: 0px;
  border-radius: 10px;
}