.expense-card {
  margin-top: 20px;
  box-shadow: 6px 7px 10px #888888;
  min-height: 150px;
  padding: 20px 15px;
  background-color: silver;
}

.expense-card p {
  text-align: left;

}

ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

i {
  margin-left: 20px;
}

.expense-field-title {
  color: black;
  text-decoration-line: underline;
  font-weight: bolder;
  font-style: italic;
}

.icons {
  float: right;
  margin-right: 5px;
}

.card-title {
  float: center;
  font-weight: bolder;
  font-size: 24px;
  font-style: italic;
  text-decoration-line: underline;
}

.search {
  margin-top: 20px;
  background-color: silver;
}

.search p {
  font-weight: bolder;
  font-size: 19px;
}

.search, hr {
  margin-top: 24px;
  border: 2px solid tomato;
}

hr {
  border: 1px solid tomato;
}