footer {
  display: block;
  bottom: 0px;
}

.footer-copyright {
  display: inline-block;
  margin: 0 5px;
  font-size: 0.7em;
  color: black;
  font-weight: bolder;
}

.footer-copyright i {
  display: inline-block;
  margin: 0;
  font-size: 1em;
  color: black;
}

.footer-contact {
  display: inline-block;
  margin-left: 10px;
}

.footer-contact a {
  color: lightgray;
  font-size: 0.8em;
  padding: 5px;
}

.fa-github, .fa-linkedin, .fa-envelope {
  width: 20px;
  color: #fff;
  margin-left: 10px
}

.fa:hover {
  color: black;
}

@media only screen and (min-width: 480px) {

}