nav {
  padding: 2% 10px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  max-height: 100px;
}

#nav-large-menu {
  display: none;
}

li > a {
  color: white;
}

a {
  text-decoration: none;
  color: black;

  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

#menu > a {
  color: #fff;
}

#menu > a:hover {
  color: tomato;
}


nav h1 {
  display: block;
  font-weight: bolder;
  font-family: 'Courgette';
  color: white;
  font-size: 30px;
  float: right;
  margin-right: 30px;
}

#menuToggle {
  display: block;
  z-index: 1;
  user-select: none;
  float: left;
  margin: 10px 20px;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: 
    transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 100%;
  max-width: 350px;
  margin: -100px 0 0 -80px;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 125px;
  border: 2px solid #ffffff;
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

@media only screen and (min-width: 480px) {
  #menuToggle {  
    display: none;
  }
  
  nav {
    height: 80px!important;
  }

  .logo-sm {
    width: 70px;
    height: 70px;
    float: left;
    margin-left:20px;
  }

  #nav-large-menu {
    display: block;
    text-align: right;
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 0;
    right: 0;
    margin-right: 20px;
  }
  .nav-large-menu-items {
    display: block;
    float: right;
    width: inherit;
    background: none;
    border: none;
    margin-top: 24px;
    margin-right: 20px;
    font-size: 16px;
  }
  .nav-large-menu-items:hover {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }

  nav h1 {
    color: black;
    font-size: 28px;
    float: left;
    margin-top: 20px;
    margin-left: 100px;

  }
}

@media only screen and (min-width: 768px) {
  nav h1 {
    font-size: 36px;
    margin-top: 10px;
  }

  .nav-large-menu-items {
    display: block;
    float: right;
    width: inherit;
    background: none;
    padding-right: 0px;
    border: none;
    margin-top: 24px;
    margin-right: 20px;
    font-size: 20px;
  }
  
}