img {
  width: 30%;
}
.property-card {
  margin-bottom: 10px;
  color: white;
  box-shadow: 6px 7px 10px #888888;
  max-width: 800px;
}

.rental-card-button {
  box-shadow: 3px 3px 10px #888888;
  color: black;
}

.rental-card-button:hover {
  color: white;
}

i {
  color: white;
}

i:hover {
  color: tomato;
}

.icons {
  display: block;
  float: right;
  margin-bottom: 0px;
}

.rental-image {
  display: block;
  clear: both;
  margin: 40px auto 20px;
}

.form-section {
  text-align: left;
  margin-top: 24px;
  border: 2px solid tomato;
}

.form-section legend {
  color: white;
}

.rental-field-title {
  color: tomato;
  font-weight: bold;
}

.rental-address {
  margin-top: 5px;
  font-weight: bold;
  color: white;
}

#new-link span{
  color: white;
}

#new-link span:hover{
  color: tomato;
}

#new-image {
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .rental-address {
    font-size: 26px;
  }

  #new-image {
    padding: 30px;
  }
}