img {
  width: 40%;
}
.property-card {
  margin-top: 20px;
  color: black;
  box-shadow: 6px 7px 10px #888888;
}

#rental-card-button {
  box-shadow: 5px 5px 10px #888888;
}

.icons {
  text-align: right;
}

.form-section {
  margin-top: 24px;
  border: 2px solid tomato;
}