img {
  width: 30%;
}
.property-card {
  margin-bottom: 10px;
  color: white;
  box-shadow: 6px 7px 10px #888888;
}

.rental-card-button {
  box-shadow: 3px 3px 10px #888888;
  color: black;
}

.rental-card-button:hover {
  color: white;
}

i {
  color: white;
}

i:hover {
  color: tomato;
}

.icons {
  text-align: right;
}

.rental-image {
  display: block;
  margin: 10px auto 0 auto;
}

.form-section {
  text-align: left;
  margin-top: 24px;
  border: 2px solid tomato;
}

.form-section legend {
  color: white;
}

.rental-field-title {
  color: white;
  text-decoration-line: underline;
  font-weight: bolder;
  font-style: italic;
}

.rental-address {
  margin-top: 5px;
  font-weight: bold;
  color: white;
}

#new-link span{
  color: white;
}

#new-image {
  padding: 10px;
}

@media (min-width: 768px) {
  .rental-address {
    font-size: 30px;
  }

  #new-image {
    padding: 30px;
  }
}