* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: tomato;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.home {
  margin-top: 100px;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

/* p {
  margin: 0 auto;
  max-width: 650px;
} */

p + p {
  margin-top: 15px;
}

fieldset {
	margin: 0;
	padding: 5px;
}

input, select, textarea {
  width: 70%;
  float: left;
  margin-bottom:10px;
}

input[type='file'] {
	display: none;
	margin-left: auto;
  margin-right: auto;
}

.form-section {
	text-align: left;
}

label {
  font-size: 0.6em;
  float: left;
  width: 28%;
  text-align: left;
}

input[type='text'] {
	font-size: 0.8em;
}

input[type='button'] {
  float: none;
  margin: 0 auto;
  max-width: 100px;
}

textarea {
  height: 50px;
}

button {
  background-color: tomato;
  border-radius: 10px;
  height: 30px;
  margin-top: 10px;
  font-size: 14px;
}

.icons {
	float: right;
	margin-right: 10px;
}

.caption {
  margin: 10px;
  text-align: left;
}

.demo-credentials {
  width: 200px;
  height: 100px;
  margin: 20px auto 0 auto;
  font-size: 14px;
  text-align: left;
}